<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script src="lib/tweetParser/tweetParser.min.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ng-cordova-oauth/dist/ng-cordova-oauth.min.js"></script>
    <script src="lib/ng-twitter-api/dist/ng-twitter-api.min.js"></script>
    <script src="lib/jsSHA/src/sha1.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>

  <body ng-app="starter" ng-controller='AppCtrl'>
      <ion-header-bar class="bar-positive">
        <h1 class="title">Meu Twitter List</h1>
      </ion-header-bar>

      <ion-tabs class="tabs-positive has-header">

        <ion-tab ng-repeat="list in userLists" title="{{list.name}}" on-select="onTabSelected({{list.id}})">

          <ion-content>
              <div ng-repeat="entry in tweets" class="list card" style="margin: 30px 5px 30px 5px;">
                <div class="item item-avatar" style="background: #6AF;">
                  <img ng-src="{{entry.user.profile_image_url}}"/>
                  <h2 style="color: #FFF;">{{entry.user.name}}</h2>
                  <p style="color: #DDD;">{{correctTimestring(entry.created_at) | date:'medium'}}</p>
                </div>

                <div class="item item-body" style="padding: 0px;">
                  <p ng-bind-html="entry.text" class="tweet" style="margin: 4px 0px 4px 0px; padding: 4px 16px 0px 16px;"></p>
                  <img ng-if="entry.extended_entities" ng-src="{{ entry.extended_entities.media[0].media_url }}" style="width: 100%;"/>
                </div>
              </div>
          </ion-content>

        </ion-tab>

      </ion-tabs>
  </body>
</html>
